<ng-container *ngIf="article">
  <h1>{{article.title}}</h1>
  <h2>{{article.firstname}} {{article.surname}}</h2>
  <div tabindex="0" class="intro">
    <p>Feugiat posuere ante donec gravida ipsum orci dis senectus
      aenean, quis sociosqu cursus ornare adipiscing primis hendrerit a himenaeos tristique, hac dapibus ut nascetur est
      curae velit libero. Condimentum dui litora nisi lorem per natoque aenean ultrices amet curae auctor finibus, iaculis
      torquent molestie lacinia fames sapien feugiat dictumst facilisis odio.</p>
  </div>
  <img tabindex="0"
       src="http://midaiganes.irw.ee/api/imgs/medium/ba723773.jpg"
       alt="Molestie finibus duis."
       title="Feugiat pharetra facilisis.">
  <div class="image__title">Feugiat pharetra facilisis.</div>
  <div class="image__fade">
    <div class="image__fade__img"
         style="background-image: url(&quot;http://midaiganes.irw.ee/api/imgs/medium/ba723773.jpg&quot;);"></div>
  </div>
  <div class="image__face"
       style="background-image: url(&quot;http://midaiganes.irw.ee/api/imgs/medium/ba723773.jpg&quot;);"></div>
  <div tabindex="0"><p>Montes nisl nibh vehicula pretium molestie maecenas potenti, nam ridiculus
    porttitor volutpat rutrum ut, class lorem lacus nisi commodo mollis. Metus finibus semper netus vehicula
    sollicitudin aliquam mollis lobortis ac, blandit arcu adipiscing ipsum hendrerit fusce faucibus imperdiet. Blandit
    laoreet vehicula ut montes curabitur ultrices aliquam enim inceptos egestas nostra, lectus massa eros penatibus
    magnis odio faucibus nascetur sit id eu, lacinia interdum accumsan dapibus ipsum nisi mattis commodo hac phasellus.
    Sagittis fames tortor massa donec consequat a nunc bibendum, ipsum malesuada montes quam suspendisse aptent dapibus
    morbi, euismod tristique magna nulla vivamus tempor vulputate. Risus sagittis tortor velit vel ipsum aptent, integer
    condimentum eleifend consequat sociosqu mauris, lacus montes justo ridiculus accumsan. Aliquam dictumst congue amet
    erat tincidunt integer imperdiet lectus ut dui nulla praesent, nostra vivamus varius ipsum vitae aptent pellentesque
    nec senectus suscipit.</p>

    <p>Volutpat justo sodales curabitur feugiat lobortis donec tempus quisque, vehicula fusce sollicitudin sed habitant
      blandit finibus platea fermentum, efficitur tincidunt nullam semper quam lorem porta. Parturient consectetur
      lacinia et nostra accumsan metus donec ex, iaculis bibendum dolor turpis natoque odio magnis tempus, quisque
      auctor tempor dictumst primis quis integer. Faucibus metus class malesuada scelerisque curae tempus facilisis sem
      senectus congue primis aliquam sodales, fames integer lobortis habitasse suscipit tincidunt torquent eu lacinia
      efficitur accumsan. Vel venenatis volutpat mauris scelerisque sollicitudin parturient malesuada vehicula hac
      egestas magna purus vulputate, per tempus fusce ornare non turpis semper platea aptent nam sapien quis. Ipsum
      netus euismod mauris imperdiet aliquet laoreet rhoncus inceptos quam, adipiscing nisl suspendisse blandit suscipit
      molestie nascetur. Purus feugiat enim congue vel proin ornare maecenas, euismod facilisi auctor nibh nam
      condimentum nostra erat, parturient neque quisque amet urna magna. Pretium platea tortor sociosqu cubilia nisi at
      semper turpis tempor est, eros himenaeos sollicitudin ornare facilisis nibh scelerisque mi. Aenean lorem consequat
      fringilla ut porttitor nec eleifend maximus accumsan eu, tempor faucibus ipsum tincidunt malesuada in pellentesque
      donec gravida maecenas, convallis augue parturient nisl ornare lacinia pretium vitae ex. Nec sociosqu non pretium
      condimentum vehicula inceptos, lacus dapibus pellentesque aliquam odio penatibus, porttitor class sapien nisl
      finibus. Faucibus ipsum convallis mus consequat class in tristique fusce eu litora ac nunc, porttitor risus
      suscipit pharetra finibus turpis nulla justo sollicitudin himenaeos.</p>

    <p>Facilisi dolor massa ex class eros lobortis iaculis, nunc est bibendum orci natoque magnis suscipit vivamus, elit
      purus tortor phasellus accumsan diam. Sapien cubilia egestas ligula pharetra himenaeos nostra congue sollicitudin
      taciti, sed hendrerit est aptent aenean tellus eleifend dictum iaculis, molestie maximus efficitur ipsum varius
      proin neque faucibus. Dictum torquent urna pretium ac molestie nunc vitae dapibus maecenas lacinia tortor
      condimentum potenti, orci nulla senectus dui phasellus consequat vulputate dictumst inceptos magnis aptent. Rutrum
      sapien neque velit imperdiet pharetra, condimentum montes ipsum sollicitudin maecenas gravida, tristique ultricies
      dui facilisi.</p>

    <p>Habitant non maximus nibh interdum id orci mauris netus sem, erat duis sociosqu tellus mi sodales vel. Sagittis
      amet proin platea natoque tempor justo lacinia integer, bibendum varius efficitur condimentum malesuada arcu.
      Conubia maximus egestas mi class purus aliquet eu amet, penatibus platea magnis lobortis praesent iaculis
      ultrices. Purus ante interdum est orci pretium porttitor aptent tortor venenatis lacinia torquent, nibh lobortis
      lectus tellus habitasse nulla dolor cubilia pharetra etiam. Curae inceptos mattis tempus facilisi tellus
      pellentesque, fusce volutpat venenatis duis pulvinar. Tellus enim blandit ultricies placerat taciti integer
      sagittis et commodo sit lacinia porta purus feugiat eros lorem, nibh tortor proin tristique risus vel fusce
      gravida tempus phasellus sed nulla semper malesuada.</p></div>


</ng-container>
