<ng-container *ngIf="article">
  <h1>{{article.title}}</h1>
  <h2>{{article.firstname}} {{article.surname}}</h2>
  <div tabindex="0" class="intro">
    {{article.intro}}
  </div>
  <img [src]="article.image.medium"
       [alt]="article.image.alt"
       [title]="article.image.title">
  <div class="image__title">{{article.image.title}}</div>
  <div class="image__fade">
    <div class="image__fade__img"
         style="background-image: url(&quot;{{article.image.medium}}&quot;);"></div>
  </div>
  <div class="image__face"
       style="background-image: url(&quot;{{article.image.medium}}&quot;);"></div>
  <div tabindex="0">{{article.body}}</div>
  <ng-container *ngFor="let t of article.tags">
  <button type="button">{{t}}</button>
  </ng-container>
  <button>{{article.boolean}}</button>

</ng-container>
