<menu class [ngClass]="getMenuToggleName() == 'times' ? 'menu-visible' : ''">
<img src="/assets/imgs/nurmoja_net_ee.png" class="logo">
<ul>
  <li><a routerLink="/home" [routerLinkActive]="['active']" class>Wiseproov <ngx-fa name="home" size="md"></ngx-fa></a></li>
  <li><a routerLink="/table" [routerLinkActive]="['active']" class> Tabel <ngx-fa name="table" size="md"></ngx-fa></a></li>
  <li><a routerLink="/article" [routerLinkActive]="['active']" class>Artikkel <ngx-fa name="file" size="md"></ngx-fa></a></li>
</ul>
</menu>
