<h1>NIMEKIRI</h1>
  <p *ngIf="this.fullList">{{this.fullList.length}}</p>
<table>
  <thead *ngIf="this.sortToggleName as st">
  <tr>
    <ng-container *ngIf="st.firstname || 'sort' as tgFirstName">
    <th #th role="button" [id]="this.sortableField.firstname" (click)="setSortToggleName('firstname',tgFirstName)">Eesnimi
        <ngx-fa [name]="tgFirstName" size="lg"></ngx-fa>
    </th>
    </ng-container>

    <ng-container *ngIf="st.surname || 'sort' as tgSurName">
    <th #th role="button" [id]="this.sortableField.surname"  (click)="setSortToggleName('surname',tgSurName)" >Perekonnanimi
      <ngx-fa [name]="tgSurName" size="lg"></ngx-fa></th>
    </ng-container>

    <ng-container *ngIf="st.sex || 'sort' as tgSex">
    <th #th role="button" [id]="this.sortableField.sex" (click)="setSortToggleName('sex',tgSex)">Sugu
      <ngx-fa [name]="tgSex" size="lg"></ngx-fa></th>
    </ng-container>

    <ng-container *ngIf="st.personal_code || 'sort' as tgBorn">
    <th #th role="button" [id]="this.sortableField.birthdate" (click)="setSortToggleName('birthdate',tgBorn)">Sünnipäev
      <ngx-fa [name]="tgBorn" size="lg"></ngx-fa></th>
    </ng-container>
    <th #th role="button" id="phone">Telefon</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="5">
        <button *ngFor="let o of this.offsets" (click)="loendJaStatOrig('?offset='+o.value)">{{o.page}}</button>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <ng-container *ngFor="let d of this.inimesteLoend">
  <tr #tr role="button" class="clickable" (click)="tr.classList.toggle('active'); activeTr(d.id)">
    <td class="name firstname">{{d.firstname}}</td>
    <td class="name surname">{{d.surname}}</td>
    <td class="sex">{{d.sex}}</td>
    <td class="date">{{d.synna}}</td>
    <td class="phone">{{d.phone}}</td>
  </tr>
    <ng-container *ngIf="this.isActive===d.id">
  <tr id="{{d.id}}_intro">
    <td colspan="5">
      <img class="intro" src="{{d.image.small}}">
      {{d.intro}}
      <p>
        <a href="/article/{{d.id}}" (click)="loendJaStatOrig('/' + d.id)">Loe edasi</a>
      </p>
    </td>
  </tr>
  </ng-container>
  </ng-container>
  </tbody>
</table>
